<div
  class="navbar backdrop-blur-lg rounded-box border border-base-300 bg-base-100/50 shadow-sm fixed z-50 top-0 max-w-5xl inset-x-4 mx-auto mt-3"
>
  <a
    class="btn btn-ghost text-xl"
    href="https://github.com/dualipin/"
    target="_blank"
    rel="noopener noreferrer"
  >
    dualipin
  </a>
</div>
