---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Welcome />

  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi
    corporis vitae at necessitatibus reiciendis provident pariatur voluptates
    repellat placeat modi, labore culpa ullam sunt ducimus voluptas ratione
    totam laboriosam. Facere quisquam laudantium quam eveniet cum corrupti
    facilis, quibusdam ducimus, laborum iusto minus molestiae recusandae
    eligendi deserunt nemo assumenda, nihil quas optio? Quod amet dolor
    architecto doloremque quo ducimus suscipit. Distinctio veritatis, aliquam
    deleniti facere exercitationem, maxime totam quisquam quos ut qui id libero
    assumenda accusamus porro pariatur quibusdam error alias reprehenderit
    laudantium autem ea quis. Officiis ex dolorem temporibus. Nemo, voluptatum
    saepe quasi incidunt nisi perspiciatis, fuga iure nostrum pariatur sequi
    laboriosam dolorem quaerat, repellendus inventore vel eveniet perferendis
    aliquam voluptatibus sunt laborum non enim. Libero quod repellendus velit.
    Maiores, odio ipsa placeat doloremque quae accusantium voluptate molestias
    perferendis. Voluptatibus deleniti exercitationem deserunt odio recusandae
    velit eaque labore. Architecto expedita atque fugiat magni earum sunt
    mollitia neque quisquam placeat. Esse dolores temporibus provident incidunt
    a amet nostrum recusandae ullam atque consequuntur voluptas consectetur
    blanditiis earum illum nam illo, omnis rerum nulla facere, odio molestiae
    maxime cum doloremque modi! Sunt. Et nihil corporis aliquam molestiae esse
    excepturi fuga, consequuntur eos dolores, veritatis voluptatem amet
    distinctio dolore at totam. Blanditiis atque sequi ducimus eligendi,
    corporis est. Facere facilis voluptates harum doloremque. Quis consequatur
    tempore esse non sequi tenetur cumque harum odio, libero expedita, iure quo
    necessitatibus! Assumenda, repellendus. Et, magni? Eum ipsa odio quae optio,
    quaerat explicabo deserunt porro laboriosam amet. In voluptatem dolore
    dolores, sit nesciunt minima veritatis est architecto sunt. Minima, sed
    tempore optio maiores ut hic assumenda neque! Ipsa hic quisquam enim. Neque
    consectetur eius reiciendis et impedit? Cupiditate ab fugit tempore totam
    error sed, voluptatem soluta consectetur voluptates deleniti consequatur
    accusantium? Provident, aspernatur. Dolore ducimus voluptatum, sint
    aspernatur nisi est hic, cumque debitis reiciendis sunt tempore facere.
  </div>
</Layout>
